In [1]:
import pandas as pd
import sqlite3
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
students = pd.DataFrame([1,1])

def selectData(students: pd.DataFrame) -> pd.DataFrame:
    return students.shape

selectData(students)

(2, 1)

In [3]:
print(selectData(students))

(2, 1)

In [ ]:
def createBonusColumn(students: pd.DataFrame) -> pd.DataFrame:
    students['bonus'] = students['salary'] * 2
    return students

In [12]:
conn = sqlite3.connect(':memory:')
conn1 = sqlite3.connect('db.db')

In [13]:
cursor = conn.cursor()

In [14]:
cursor.execute("""CREATE TABLE students(
    id PRIMARY KEY,
    name VARCHAR,
    class VARCHAR)""")

In [7]:
students = pd.DataFrame([(1,1),(2,1)])

In [9]:
selectData(students)

(2, 2)