In [22]:
import sqlite3
from datetime import datetime

In [23]:
conn = sqlite3.connect("practice.db")
cursor = conn.cursor()

In [24]:
cursor.execute("DROP TABLE IF EXISTS Orders;")

In [25]:
# Create Orders table
cursor.execute("""
CREATE TABLE Orders (
    OrderID INTEGER PRIMARY KEY AUTOINCREMENT,
    CustomerID INTEGER,
    OrderDate TEXT,
    TotalAmount REAL
)
""")

In [26]:
orders = [
    (1, "2023-01-15", 250.00),
    (2, "2023-03-22", 180.50),
    (1, "2023-07-09", 99.99),
    (3, "2023-07-20", 300.00),
    (2, "2024-01-11", 450.75),
    (3, "2024-01-25", 125.00),
    (1, "2024-04-05", 220.40),
    (2, "2024-07-18", 310.25),
    (3, "2024-07-30", 150.00),
    (1, "2024-12-10", 500.00),
    (2, "2025-01-01", 275.50),
]

cursor.executemany("""
INSERT INTO Orders (CustomerID, OrderDate, TotalAmount)
VALUES (?, ?, ?)
""", orders)

In [27]:
conn.commit()

for row in cursor.execute("SELECT * FROM Orders"):
    print(row)

(1, 1, '2023-01-15', 250.0)
(2, 2, '2023-03-22', 180.5)
(3, 1, '2023-07-09', 99.99)
(4, 3, '2023-07-20', 300.0)
(5, 2, '2024-01-11', 450.75)
(6, 3, '2024-01-25', 125.0)
(7, 1, '2024-04-05', 220.4)
(8, 2, '2024-07-18', 310.25)
(9, 3, '2024-07-30', 150.0)
(10, 1, '2024-12-10', 500.0)
(11, 2, '2025-01-01', 275.5)

In [29]:
query1 = """
SELECT *
FROM Orders
WHERE YEAR(OrderDate) = 2024;"""

In [30]:
cursor.execute("DROP TABLE IF EXISTS Customers;")
cursor.execute("DROP TABLE IF EXISTS Orders;")

In [35]:
cursor.execute("""CREATE TABLE IF NOT EXISTS Customers (
    customer_id INTEGER PRIMARY KEY,
    full_code VARCHAR(50),
    name VARCHAR(50)
    );
""")

In [37]:
cursor.execute("""CREATE TABLE IF NOT EXISTS Orders (
    order_id INTEGER PRIMARY KEY, 
    cust_code VARCHAR(20),
    amount DECIMAL(10,2)
    );
""")

In [40]:
cursor.execute("""INSERT OR REPLACE INTO Customers (customer_id, full_code, name) VALUES
(1, 'ABC12345', 'Alice'),
(2, 'DEF67890', 'Bob'),
(3, 'GHI54321', 'Charlie');
""")