In [2]:
import pandas as pd
import sqlite3
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("/Users/thomassimmons/c/d/datasets/retail_store_sales.csv")

In [9]:
df.columns

Index(['transaction_id', 'customer_id', 'category', 'item', 'price_per_unit',
       'quantity', 'total_spent', 'payment_method', 'location',
       'transaction_date', 'discount_applied'],
      dtype='object')

In [10]:
df.columns = df.columns.str.strip().str.replace(" ", "_").str.lower()

In [13]:
df.isnull().sum()

transaction_id      0
customer_id         0
category            0
item                0
price_per_unit      0
quantity            0
total_spent         0
payment_method      0
location            0
transaction_date    0
discount_applied    0
dtype: int64

In [14]:
df = df.dropna(subset=['item', 'price_per_unit', 'quantity', 'total_spent', 'discount_applied'])

In [17]:
df.dtypes

transaction_id              object
customer_id                 object
category                    object
item                        object
price_per_unit             float64
quantity                   float64
total_spent                float64
payment_method              object
location                    object
transaction_date    datetime64[ns]
discount_applied            object
dtype: object

In [18]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'], errors='coerce')

In [20]:
df['month'] = df['transaction_date'].dt.to_period('M')

In [21]:
print("Data types:\n", df.dtypes)
print("\nColumns:\n", df.columns)

Data types:
 transaction_id              object
customer_id                 object
category                    object
item                        object
price_per_unit             float64
quantity                   float64
total_spent                float64
payment_method              object
location                    object
transaction_date    datetime64[ns]
discount_applied            object
month                    period[M]
dtype: object

Columns:
 Index(['transaction_id', 'customer_id', 'category', 'item', 'price_per_unit',
       'quantity', 'total_spent', 'payment_method', 'location',
       'transaction_date', 'discount_applied', 'month'],
      dtype='object')