In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sqlite3
import numpy as np

In [3]:
df = pd.read_csv("/Users/thomassimmons/c/ds/datasets/dirty_cafe_sales.csv")

In [9]:
df['Quantity'] = pd.to_numeric(df['Quantity'], errors = 'coerce')

In [10]:
df.dtypes

Transaction ID       object
Item                 object
Quantity            float64
Price Per Unit       object
Total Spent          object
Payment Method       object
Location             object
Transaction Date     object
dtype: object

In [13]:
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors = 'coerce')

In [14]:
df.dtypes

Transaction ID       object
Item                 object
Quantity            float64
Price Per Unit      float64
Total Spent          object
Payment Method       object
Location             object
Transaction Date     object
dtype: object

In [15]:
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors = 'coerce')

In [16]:
df.dtypes

Transaction ID       object
Item                 object
Quantity            float64
Price Per Unit      float64
Total Spent         float64
Payment Method       object
Location             object
Transaction Date     object
dtype: object

In [18]:
# Replace unknown and other inconsistent values
df['Payment Method'] = df['Payment Method'].replace({'UNKNOWN': pd.NA})

In [19]:
df['Payment Method']

0          Credit Card
1                 Cash
2          Credit Card
3                 <NA>
4       Digital Wallet
             ...
9995               NaN
9996    Digital Wallet
9997    Digital Wallet
9998    Digital Wallet
9999              Cash
Name: Payment Method, Length: 10000, dtype: object

In [21]:
df['Location'] = df['Location'].replace({'UNKNOWN': pd.NA})

In [22]:
df['Location']

0       Takeaway
1       In-store
2       In-store
3           <NA>
4       In-store
          ...
9995        <NA>
9996         NaN
9997         NaN
9998         NaN
9999    In-store
Name: Location, Length: 10000, dtype: object

In [23]:
df.dropna(subset=['Quantity', 'Price Per Unit', 'Total Spent', 'Payment Method', 'Location'], inplace=True)

In [24]:
df.columns

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [25]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors = 'coerce')

In [26]:
df.dtypes

Transaction ID              object
Item                        object
Quantity                   float64
Price Per Unit             float64
Total Spent                float64
Payment Method              object
Location                    object
Transaction Date    datetime64[ns]
dtype: object