In [46]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

In [47]:
df = pd.read_csv("/Users/thomassimmons/c/d/datasets/dirty_cafe_sales.csv")

In [48]:
df.shape

(10000, 8)

In [49]:
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')

In [50]:
df.dtypes

Transaction ID       object
Item                 object
Quantity            float64
Price Per Unit       object
Total Spent          object
Payment Method       object
Location             object
Transaction Date     object
dtype: object

In [51]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

In [52]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             479
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     460
dtype: int64

In [53]:
df['Item'].isnull().sum()

333

In [54]:
df[df.isnull().any(axis=1)]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
5,TXN_2602893,Smoothie,5.0,4.0,20.0,Credit Card,NaN,2023-03-31
8,TXN_4717867,NaN,5.0,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5.0,4.0,20.0,NaN,In-store,2023-12-31
11,TXN_3051279,Sandwich,2.0,4.0,8.0,Credit Card,Takeaway,NaT
13,TXN_9437049,Cookie,5.0,1.0,5.0,NaN,Takeaway,2023-06-01
...,...,...,...,...,...,...,...,...
9994,TXN_7851634,UNKNOWN,4.0,4.0,16.0,NaN,NaN,2023-01-08
9995,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3.0,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3.0,NaN,3.0,Digital Wallet,NaN,2023-12-02

In [55]:
df[df['Item'].isnull()]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
8,TXN_4717867,NaN,5.0,3.0,15.0,NaN,Takeaway,2023-07-28
30,TXN_1736287,NaN,5.0,2.0,10.0,Digital Wallet,NaN,2023-06-02
61,TXN_8051289,NaN,1.0,3.0,3.0,NaN,In-store,2023-10-09
72,TXN_6044979,NaN,1.0,1.0,1.0,Cash,In-store,2023-12-08
89,TXN_4132730,NaN,5.0,1.0,5.0,NaN,In-store,2023-03-12
...,...,...,...,...,...,...,...,...
9820,TXN_8751702,NaN,5.0,NaN,15.0,Cash,NaN,2023-02-13
9855,TXN_3740505,NaN,2.0,1.5,3.0,NaN,NaN,2023-11-21
9876,TXN_3105633,NaN,1.0,2.0,2.0,NaN,In-store,2023-03-30
9885,TXN_4659954,NaN,3.0,4.0,12.0,Credit Card,In-store,NaT
9996,TXN_9659401,NaN,3.0,NaN,3.0,Digital Wallet,NaN,2023-06-02

In [56]:
df_cleaned = df.dropna()

In [57]:
df.shape

(10000, 8)

In [58]:
df_cleaned.shape

(4282, 8)

In [59]:
df_cleaned['Item']

0         Coffee
1           Cake
2         Cookie
3          Salad
4         Coffee
          ...
9979    Smoothie
9986    Sandwich
9991    Sandwich
9992    Smoothie
9999    Sandwich
Name: Item, Length: 4282, dtype: object

In [60]:
df_cleaned['Item'].value_counts()['UNKNOWN']

150

In [63]:
df_cleaned = df_cleaned[df_cleaned['Item'] != 'UNKNOWN']

In [64]:
df_cleaned['Item']

0         Coffee
1           Cake
2         Cookie
3          Salad
4         Coffee
          ...
9979    Smoothie
9986    Sandwich
9991    Sandwich
9992    Smoothie
9999    Sandwich
Name: Item, Length: 4132, dtype: object

In [61]:
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')

In [62]:
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')