In [2]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("/Users/thomassimmons/c/d/datasets/dirty_cafe_sales.csv")

In [4]:
df.shape

(10000, 8)

In [5]:
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')

In [6]:
df.dtypes

Transaction ID       object
Item                 object
Quantity            float64
Price Per Unit       object
Total Spent          object
Payment Method       object
Location             object
Transaction Date     object
dtype: object

In [7]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

In [8]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             479
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     460
dtype: int64

In [9]:
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')

In [10]:
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')