In [1]:
import pandas as pd
import seaborn as sns
import sqlite3
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv("/Users/thomassimmons/c/d/datasets/dirty_cafe_sales.csv")

In [3]:
df.shape

(10000, 8)

In [4]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [12]:
df.dtypes

Transaction ID              object
Item                        object
Quantity                   float64
Price Per Unit             float64
Total Spent                float64
Payment Method              object
Location                    object
Transaction Date    datetime64[ns]
dtype: object

In [6]:
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors = 'coerce')

In [8]:
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors = 'coerce')

In [10]:
df['Quantity'] = pd.to_numeric(df['Total Spent'], errors = 'coerce')

In [11]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors = 'coerce')

In [ ]:
df['Payment Method'] = df['Payment Method'].replace("UNKNOWN", pd.NA)
df['Location'] = df['Location'].replace('UNKNOWN', pd.NA)