In [1]:
import pandas as pd
import seaborn as sns
import sqlite3
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv("/Users/thomassimmons/c/d/datasets/dirty_cafe_sales.csv")

In [3]:
df.shape

(10000, 8)

In [4]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [12]:
df.dtypes

Transaction ID              object
Item                        object
Quantity                   float64
Price Per Unit             float64
Total Spent                float64
Payment Method              object
Location                    object
Transaction Date    datetime64[ns]
dtype: object

In [6]:
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors = 'coerce')

In [8]:
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors = 'coerce')

In [10]:
df['Quantity'] = pd.to_numeric(df['Total Spent'], errors = 'coerce')

In [11]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors = 'coerce')

In [14]:
df['Payment Method'] = df['Payment Method'].replace("UNKNOWN", pd.NA)
df['Location'] = df['Location'].replace('UNKNOWN', pd.NA)

In [16]:
df = df.dropna(subset=['Total Spent', 'Payment Method', 'Location'])

In [17]:
df.shape

(4361, 8)

In [19]:
df.reset_index(drop=True)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,4.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,12.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_3160411,Coffee,4.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
3,TXN_4433211,UNKNOWN,9.0,3.0,9.0,ERROR,Takeaway,2023-10-06
4,TXN_2548360,Salad,25.0,5.0,25.0,Cash,Takeaway,2023-11-07
...,...,...,...,...,...,...,...,...
4356,TXN_9933628,Smoothie,20.0,4.0,20.0,Cash,In-store,2023-07-20
4357,TXN_3142496,Smoothie,4.0,4.0,4.0,Cash,Takeaway,2023-07-27
4358,TXN_2858441,Sandwich,8.0,4.0,8.0,Credit Card,In-store,2023-12-14
4359,TXN_3897619,Sandwich,12.0,4.0,12.0,Cash,Takeaway,2023-02-24
4360,TXN_6170729,Sandwich,12.0,4.0,12.0,Cash,In-store,2023-11-07

In [20]:
df['Item'] = df['Item'].str.strip().str.title()

In [21]:
df['Item'].head()

0      Coffee
1        Cake
4      Coffee
6     Unknown
10      Salad
Name: Item, dtype: object

In [23]:
df = df[df['Item'] != 'Unknown']

In [27]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,4.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,12.0,3.0,12.0,Cash,In-store,2023-05-16
4,TXN_3160411,Coffee,4.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
10,TXN_2548360,Salad,25.0,5.0,25.0,Cash,Takeaway,2023-11-07
12,TXN_7619095,Sandwich,8.0,4.0,8.0,Cash,In-store,2023-05-03

In [25]:
df.shape

(4219, 8)

In [26]:
df = df.dropna(subset=['Transaction Date'])