In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import sqlite3
import seaborn as sns

In [2]:
conn = sqlite3.connect(":memory:")

In [3]:
cursor = conn.cursor()

In [5]:
# create tables
cursor.execute("""
CREATE TABLE customers (
    id  INTEGER PRIMARY KEY,
    name TEXT,
    city TEXT
    )
    """)

OperationalError: table customers already exists

In [6]:
conn.close()

In [8]:
from scipy import stats

In [9]:
# Simulating an A/B test
group_a = np.random.binomial(1, 0.10, 1000) # 10 percent conversion rate
group_b = np.random.binomial(1, 0.12, 1000) # 12 percent conversion rate

In [10]:
# Perform t-test
t_stat, p_val = stats.ttest_ind(group_a, group_b)
print(f"T-statistics: {t_stat}, P-Value: {p_val}")

T-statistics: -2.797185750053213, P-Value: 0.005204381072224295