In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sqlite3
import numpy as np

In [3]:
df = pd.read_csv("/Users/thomassimmons/c/d/datasets/retail_store_sales.csv")

In [4]:
df.describe

<bound method NDFrame.describe of       Transaction ID Customer ID       Category          Item  Price Per Unit  \
0        TXN_6867343     CUST_09     Patisserie   Item_10_PAT            18.5
1        TXN_3731986     CUST_22  Milk Products  Item_17_MILK            29.0
2        TXN_9303719     CUST_02       Butchers   Item_12_BUT            21.5
3        TXN_9458126     CUST_06      Beverages   Item_16_BEV            27.5
4        TXN_4575373     CUST_05           Food   Item_6_FOOD            12.5
...              ...         ...            ...           ...             ...
12570    TXN_9347481     CUST_18     Patisserie   Item_23_PAT            38.0
12571    TXN_4009414     CUST_03      Beverages    Item_2_BEV             6.5
12572    TXN_5306010     CUST_11       Butchers    Item_7_BUT            14.0
12573    TXN_5167298     CUST_04      Furniture    Item_7_FUR            14.0
12574    TXN_2407494     CUST_23           Food   Item_9_FOOD            17.0

       Quantity  Total Spent  Payment Method  Location Transaction Date  \
0          10.0        185.0  Digital Wallet    Online       2024-04-08
1           9.0        261.0  Digital Wallet    Online       2023-07-23
2           2.0         43.0     Credit Card    Online       2022-10-05
3           9.0        247.5     Credit Card    Online       2022-05-07
4           7.0         87.5  Digital Wallet    Online       2022-10-02
...         ...          ...             ...       ...              ...
12570       4.0        152.0     Credit Card  In-store       2023-09-03
12571       9.0         58.5            Cash    Online       2022-08-12
12572      10.0        140.0            Cash    Online       2024-08-24
12573       6.0         84.0            Cash    Online       2023-12-30
12574       3.0         51.0            Cash    Online       2022-08-06

      Discount Applied
0                 True
1                 True
2                False
3                  NaN
4                False
...                ...
12570              NaN
12571            False
12572              NaN
12573             True
12574              NaN

[12575 rows x 11 columns]>