In [1]:
import pandas as pd
import numpy as np

In [6]:
arr = np.array([1,2,3,4,5])
np.average(arr)

arr = arr.astype('int64')

In [12]:
np.average(arr)

3.0

In [11]:
print(arr)

[1 2 3 4 5]

In [15]:
arr1 = np.array([1,2,3,4])
np.average(arr1)

2.5

In [16]:
print(type(arr))

<class 'numpy.ndarray'>

In [17]:
df = pd.read_csv("/Users/thomassimmons/Downloads/titanic.csv")

In [19]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [23]:
df['Age'].fillna(df['Age'].median(), inplace=True)

In [24]:
df['Age'] = df['Age'].astype('int64')

In [26]:
df['Age']

0      22
1      38
2      26
3      35
4      35
       ..
886    27
887    19
888    28
889    26
890    32
Name: Age, Length: 891, dtype: int64

In [27]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [28]:
df.drop(columns=['Embarked'], inplace=True)