In [1]:
import pandas as pd
import numpy as np

In [6]:
arr = np.array([1,2,3,4,5])
np.average(arr)

arr = arr.astype('int64')

In [12]:
np.average(arr)

3.0

In [11]:
print(arr)

[1 2 3 4 5]

In [15]:
arr1 = np.array([1,2,3,4])
np.average(arr1)

2.5

In [16]:
print(type(arr))

<class 'numpy.ndarray'>

In [17]:
df = pd.read_csv("/Users/thomassimmons/Downloads/titanic.csv")

In [19]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [21]:
df['Age'].fillna(df['Age'].median())

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64