In [2]:
print(5 and 10)

10

In [3]:
3+2*2

7

In [4]:
("PythOn").lower()

'python'

In [6]:
print(4%2)

0

In [7]:
print(2%4)

2

In [8]:
print(5 or 10)

5

In [9]:
print(0 or 8)

8

In [12]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt

In [14]:
arr = np.array([1,2,3,4,5,6])

In [15]:
arr.dtype

dtype('int64')

In [16]:
np.average(arr)

3.5

In [17]:
np.absolute(arr)

array([1, 2, 3, 4, 5, 6])

In [20]:
import array as arr

c = arr.array('f' , [1.1,2.2,3.3])
print(c[1])

2.200000047683716

In [22]:
print(round(c[2]))

3

In [23]:
type(arr)

module

In [24]:
print(type(arr))

<class 'module'>

In [25]:
df = pd.read_csv("/Users/thomassimmons/Downloads/titanic.csv")

In [28]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S