In [4]:
import pandas as pd
import numpy as np

np.mean([1,2, 895048537])

298349513.3333333

In [8]:
np.absolute([-1])
np.absolute(1)

1

In [11]:
np.absolute([-2, -9, -5])

array([2, 9, 5])

In [12]:
df = pd.read_csv("/Users/thomassimmons/Downloads/titanic.csv")

In [13]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [14]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [16]:
df['Age'] = df['Age'].astype('int64')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer