In [4]:
(5+3.0)

8.0

In [5]:
def sum(num):
    return num + sum(num-1)

print(sum(2))

RecursionError: maximum recursion depth exceeded

In [18]:
df = pd.read_csv("/Users/thomassimmons/Downloads/titanic.csv")

In [14]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
3+2.0

5.0

In [7]:
import pandas as pd

In [21]:
df['Age'].fillna(df['Age'].median(), inplace=True)

In [23]:
df['Age'] = df['Age'].astype('int64')

In [24]:
df['Age']

0      22
1      38
2      26
3      35
4      35
       ..
886    27
887    19
888    28
889    26
890    32
Name: Age, Length: 891, dtype: int64

In [27]:
df.drop(columns=['Embarked'], inplace=True)

In [28]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin'],
      dtype='object')

In [29]:
print('2'+'3')

23

In [30]:
type(5.0)

float

NameError: name 'May30' is not defined