In [1]:
import pandas as pd
import numpy as np

In [2]:
(5+3.0)

8.0

In [3]:
type(5+3.0)

float

In [4]:
df = pd.read_csv("/Users/thomassimmons/Downloads/titanic.csv")

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
df['Age'].fillna(df['Age'].median(), inplace=True)

In [11]:
df['Age'] = df['Age'].astype('int64')

In [12]:
df['Age']

0      22
1      38
2      26
3      35
4      35
       ..
886    27
887    19
888    28
889    26
890    32
Name: Age, Length: 891, dtype: int64