In [4]:
(5+3.0)

8.0

In [5]:
def sum(num):
    return num + sum(num-1)

print(sum(2))

RecursionError: maximum recursion depth exceeded

In [13]:
df = pd.read_csv("/Users/thomassimmons/Downloads/titanic.csv")

In [14]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
3+2.0

5.0

In [7]:
import pandas as pd

In [11]:
df['Age'] = df['Age'].fillna(df['Age'].median(), inplace=True)

In [15]:
df['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64