In [7]:
student_data = [
    [1,15],
    [2,16],
    [3,17],
    [4,18]
]

In [16]:
import pandas as pd
from typing import List

In [17]:
def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    return pd.DataFrame(student_data, columns = ['name','age'])

In [21]:
def getDataFrameSize(student_data: pd.DataFrame) -> List[int]:
    return list(student_data.shape)

In [22]:
a = 2

In [24]:
type(a)

int

In [25]:
type(student_data)

list

In [29]:
int(a)

2

In [31]:
len('a')

1

In [ ]:
import sqlite3

# creating a new database if it doesnt exist
conn = sqlite3.connect("database.db")

# creating one in memory
conn1 = sqlite3.connect(":memory:")

In [4]:
cursor = conn.cursor()

In [5]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS bob (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER)""")

In [6]:
conn.close()
conn1.close()