In [7]:
student_data = [
    [1,15],
    [2,16],
    [3,17],
    [4,18]
]

In [16]:
import pandas as pd
from typing import List

In [17]:
def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    return pd.DataFrame(student_data, columns = ['name','age'])

In [21]:
def getDataFrameSize(student_data: pd.DataFrame) -> List[int]:
    return list(student_data.shape)

In [22]:
a = 2

In [24]:
type(a)

int

In [25]:
type(student_data)

list

In [29]:
int(a)

2

In [31]:
len('a')

1

In [11]:
import sqlite3

# creating a new database if it doesnt exist
conn = sqlite3.connect("database.db")

# creating one in memory
conn1 = sqlite3.connect(":memory:")

In [12]:
cursor = conn.cursor()

In [13]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS bob (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER)""")

In [23]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    product VARCHAR,
    amount INTEGER)""")

In [27]:
cursor.execute("""
INSERT INTO sales (id, product, amount)
VALUES (2, 'A', 200), (3,'B',100)""")

In [29]:
cursor.execute("""
WITH product_sales AS (
    SELECT product, SUM(amount) AS total_sales
    FROM sales
    GROUP BY product
)
SELECT *
FROM product_sales
WHERE total_sales > 100;""")

In [30]:
tables = cursor.fetchall()

In [31]:
print(tables)

[('A', 400)]

In [21]:
cursor.execute("""
SELECT name FROM sqlite_master WHERE type='table';""")

In [22]:
tables = cursor.fetchall()
print(tables)

[('bob',), ('sales',)]

In [10]:
conn.close()
conn1.close()

In [7]:
conn = sqlite3.connect("database.db")
conn1 = sqlite3.connect(":memory:")