In [1]:
import sqlite3
import datetime

In [2]:
conn = sqlite3.connect('newdb.db')
cursor = conn.cursor()

In [3]:
cursor.execute("DROP TABLE IF EXISTS Orders;")

In [7]:
# create orders table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Orders (
    OrderID INTEGER PRIMARY KEY AUTOINCREMENT,
    CustomerID INTEGER,
    OrderDate TEXT,
    TotalAmount REAL
    )
    """)

In [8]:
orders = [
    (1, "2023-01-15", 250.00),
    (2, "2023-03-22", 180.50),
    (1, "2023-07-09", 99.99),
    (3, "2023-07-20", 300.00),
    (2, "2024-01-11", 450.75),
    (3, "2024-01-25", 125.00),
    (1, "2024-04-05", 220.40),
    (2, "2024-07-18", 310.25),
    (3, "2024-07-30", 150.00),
    (1, "2024-12-10", 500.00),
    (2, "2025-01-01", 275.50),
]

cursor.executemany("""
INSERT INTO Orders (CustomerID, OrderDate, TotalAmount)
VALUES (?, ?, ?)
""", orders)