In [13]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    return world.loc[(world['population'] >= 25000000) | (world['area'] >= 3000000), ['name','population','area']]

In [18]:
big_countries(world)

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

In [16]:
world = pd.DataFrame({
    "name": ["Afghanistan", "Albania", "Algeria"],
    "continent": ["Asia", "Europe", "Africa"],
    "area": [652230, 28748, 2381741],
    "population": [25500100, 2831741, 37100000],
    "gdp": [20343000000, 12960000000, 188681000000]
})

In [31]:
report = pd.DataFrame({
    "product": ["A", "B", "C"],
    "quarter1": [100, 150, 200],
    "quarter2": [110, 160, 210],
    "quarter3": [120, 170, 220],
    "quarter4": [130, 180, 230]
})

In [32]:
def meltTable(report: pd.DataFrame) -> pd.DataFrame:
    report = report.melt(
        id_vars=['product'],
        value_vars=['quarter1','quarter2','quarter3','quarter4'],
        var_name='quarter',
        value_name='sales'
    )
    return report

In [33]:
print(meltTable(report))

   product   quarter  sales
0        A  quarter1    100
1        B  quarter1    150
2        C  quarter1    200
3        A  quarter2    110
4        B  quarter2    160
5        C  quarter2    210
6        A  quarter3    120
7        B  quarter3    170
8        C  quarter3    220
9        A  quarter4    130
10       B  quarter4    180
11       C  quarter4    230

In [35]:
def findHeavyAnimals(animals:pd.DataFrame) -> pd.DataFrame:
    return animals[animals['weight'] > 100].sort_values(by='weight', ascending=False)[['name']]

In [36]:
animals = pd.DataFrame({
    "name": ["Elephant", "Tiger", "Dog", "Giraffe", "Cat"],
    "weight": [5000, 220, 30, 800, 10],
    "legs": [4, 4, 4, 4, 4]
})

In [38]:
findHeavyAnimals(animals)

       name
0  Elephant
3   Giraffe
1     Tiger

In [40]:
query = """SELECT
SUM(CASE WHEN device_type = 'laptop' THEN 1 ELSE 0 END) AS laptop_views,
SUM(CASE WHEN device_type IN ('phone','tablet') THEN 1 ELSE 0 END) AS mobile_views
FROM viewership;
"""

In [42]:
import sqlite3
conn = sqlite3.connect("dbdb.db")
cursor = conn.cursor()

In [43]:
cursor.execute("""CREATE TABLE IF NOT EXISTS viewership (
    user_id INT,
    device_type TEXT
    );""")

In [44]:
data = [
    (1, 'laptop'),
    (2, 'phone'),
    (3, 'tablet'),
    (4, 'laptop'),
    (5, 'phone'),
    (6, 'laptop'),
    (7, 'tablet'),
    (8, 'phone'),
    (9, 'laptop'),
    (10, 'phone')
]
cursor.executemany("INSERT INTO viewership (user_id, device_type) VALUES (?, ?)", data)
conn.commit()