In [2]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("db.db")
cursor = conn.cursor()

In [3]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS Customers (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    city TEXT
)
""")

conn.commit()

In [4]:
cursor.execute("DROP TABLE IF EXISTS orders;")
cursor.execute("DROP TABLE IF EXISTS products;")

In [5]:
cursor.execute("""
CREATE TABLE orders (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    order_code TEXT,
    product_name TEXT
)
""")

In [6]:
cursor.execute("""
CREATE TABLE products (
    product_key TEXT,
    price REAL
)
""")

In [7]:
cursor.executemany("INSERT INTO orders (order_code, product_name) VALUES (?, ?)", [
    ("XYZ123", "Shoes"),
    ("ABC456", "Hat"),
    ("LMN789", "Shirt"),
])

cursor.executemany("INSERT INTO products (product_key, price) VALUES (?, ?)", [
    ("123", 59.99),
    ("456", 19.99),
    ("789", 39.99),
])

conn.commit()

In [8]:
query = """
SELECT o.order_code, o.product_name, p.price
FROM orders o
JOIN products p
    ON substr(o.order_code, -3) = p.product_key
"""
df = pd.read_sql_query(query, conn)
print(df)

  order_code product_name  price
0     XYZ123        Shoes  59.99
1     ABC456          Hat  19.99
2     LMN789        Shirt  39.99