In [2]:
import sqlite3

In [5]:
conn = sqlite3.connect('db3.db')
cursor = conn.cursor()

In [7]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS tweets (
    tweet_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    tweet_date TEXT
);
""")

In [8]:
data = [
    (1, 101, "2022-01-15"),
    (2, 101, "2022-03-20"),
    (3, 102, "2022-05-10"),
    (4, 103, "2022-06-18"),
    (5, 103, "2022-07-01"),
    (6, 103, "2021-12-25"),  # not in 2022
    (7, 104, "2022-11-11"),
    (8, 104, "2022-11-12"),
    (9, 104, "2022-11-13"),
    (10, 105, "2023-01-05")  # not in 2022
]

In [9]:
cursor.executemany("INSERT INTO tweets VALUES (?,?,?);", data)

In [10]:
conn.commit()

In [4]:
query = """"
WITH total_tweets AS (
    SELECT user_id,
        COUNT(tweet_id) AS tweet_bucket
    FROM tweets
    WHERE strftime('%Y', tweet_date) = 2022
    GROUP BY user_id)
    
SELECT tweet_bucket,
    COUNT(user_id) AS users_num
FROM total_tweets
GROUP BY tweet_bucket"""